---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/page.html %}
      <!-- Begin page content -->
      <div class="container">
        <h3>about Joe</h3>
        <p>My experience began with wildland firefighting, which led me to Forestry and Natural Resources (B.S. Cal Poly SLO, 2006).</p>
        <p>I discovered Geographic Information Systems (GIS, official minor) during my undergraduate and decided to make it my specialization. Also being a student of fire, I enjoy wildland fire behavior modeling. With an appreciation for all types of applications of GIS, I have been exposed to various offerings from Free and Open Source Software for Geospatial (FOSS4G), and currently enjoy learning these toolkits - as they apply to mapping, disaster/emergency response and analysis.</p>
        <p>Recent highlights of my professional experience include my assignment in Florida to assist with the Deepwater Horizon oilspill and my successful completion of S-495 Geospatial Fire Analysis, Interpretation and Application at the National Advanced Fire and Resource Institute. My goals are to become more proficient with web, databases, programming - related to my career focus.</p>
      </div>
      <div class="container">
        <h3>Specialties</h3>
          <li>Free and Open Source Software for Geospatial (FOSS4G)</li>
          <li>GIS</li>
          <li>OpenStreetMap</li>
          <li>Infrared Interpretation (Wildfires)</li>
          <li>Fire Incident Mapping [Tools] (Wildfire mapping, FIMT)</li>
          <li>fire modeling</li>
          <br>
          <a href="http://www.flickr.com/photos/j03lar50n/6945838192/" align="center" title="NoPPE by j03lar50n, on Flickr"><img src="http://farm8.staticflickr.com/7071/6945838192_3b225c3729.jpg" width="369" height="453" alt="NoPPE"></a>
      </div>